html
    body
        table
            tr
                th First Name
                th Last Name
                th Email
                th Address
                th Age
            each monUser, index in monUser
                tr
                    td #{monUser.firstName}
                    td #{monUser.lastName}
                    td #{monUser.email}
                    td #{monUser.address}
                    td #{monUser.age}
                        |
                        |
                        a(href=`/edit/${monUser.userId}`) Edit
                        |
                        |
                        a(href=`/delete/${monUser.userId}`) Delete
        div
            a(href="/newClient") New User