html
    body
        table
            tr
                th User ID
                th First Name
                th Last Name
                th Email
                th Age
            tr
                form(action=`/edit/${monUser._id}` method="post")
                    td
                        input(placeholder="First Name" type="text" name="firstName" value=`${monUser.firstName}`)
                    td
                        input(placeholder="Last Name" type="text" name="lastName" value=`${monUser.lastName}`)
                    td
                        input(placeholder="Email" type="text" name="email" value=`${monUser.email}`)
                    td
                        input(placeholder="Age" type="text" name="age" value=`${monUser.age}`)
                    td
                        input(type="submit" value="Save")
        a(href="/") Return




